<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../CSS/fact-lev-aanpassen.css" />
		<title>Factuur leverancier</title>
	</head>
	<body>
		<div class="wrapper">
			<h1 class="form-title">Factuur leverancier toevoegen</h1>
			<form>
				<div class="form">
					<div class="form-section">
						<div class="form-group">
							<label class="form-label">Factuur nummer:</label>
							<input class="form-input" type="number"  name="factuurnummer"/>
						</div>
						<div class="form-group">
							<label class="form-label">Factuur datum:</label>
							<input class="form-input" type="date" name="factuurdatum"/>
						</div>
						<div class="form-group">
							<label class="form-label">Btw-percentage:</label>
							<input class="form-input" type="number" name="percentage"/>
						</div>
						<div class="form-group">
							<label class="form-label">Btw bedrag:</label>
							<input class="form-input" type="number" name="btwBedrag"/>
						</div>
						<div class="form-group">
							<label class="form-label">Status betaling: </label>
							<select class="form-input">
								<option>Betaald</option>
								<option>Niet betaald</option>
							</select>
						</div>
						<div class="form-group">
							<label class="form-label"> Datum betaling:</label>
							<input class="form-input" type="date" name="datumBetaling"/>
						</div>
					</div>
					<div class="form-section">
						<div class="form-group">
							<label class="form-label">Voorgeschoten:</label>
							<input class="form-input" type="number" name="voorschot"/>
						</div>
						<div class="form-group">
							<label class="form-label">Datum voorschot:</label>
							<input class="form-input" type="date" name="datumVoorschot"/>
						</div>
						<div class="form-group form-group--radio">
							<label class="form-label">Terugbetaald:</label>
							<div class="radio-group">
								<div class="radio-container">
									<input type="radio" id="ja" name="ja_nee" value="ja" name="terugbetaling"/>
									<label for="ja" class="radio-label">Ja</label>
								</div>

								<div class="radio-container">
									<input type="radio" id="nee" name="ja_nee" value="nee"/>
									<label for="nee" class="radio-label">Nee</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="form-label">Datum terugbetaling:</label>
							<input class="form-input" type="date" name="datum-terugbetaling"/>
						</div>
						<div class="form-group form-group--radio">
							<label class="form-label">Verstuurd boekhouder:</label>
							<div class="radio-group">
								<div class="radio-container">
									<input type="radio" id="ja" name="ja_nee" value="ja" />
									<label for="ja" class="radio-label">Ja</label>
								</div>

								<div class="radio-container">
									<input type="radio" id="nee" name="ja_nee" value="nee"/>
									<label for="nee" class="radio-label">Nee</label>
								</div>
							</div>
						</div>
						
						<div id="display_image" class="form-upload">
							<div class="file-section" id="uploadform" enctype="multipart/form-data">
								<span class="file-text">Selecteer een bestand: </span> 
								<input placeholder="Bestanden kiezen" type="file" 
								id="fileInput" accept="application/pdf"></div>	
								<div  id="fileList"></div>	
								
						</div>
					</div>
				</div>
				
				<div class="form-group form-group--btn">
					<button class="form-btn">Toevoegen</button>
					<a class="form-btn" href="home_levFacturen.html">Annuleren</a>
				</div>
			</form>
		</div>
		
		<script src="/views/JS/fact_lev.js"></script>
	
	</body>
</html>