<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home klant</title>
  <link rel="stylesheet" href="home_klant.css">
</head>
<body>
  
  <h1>Klanten</h1>

  <div class="content">
      <!-- Hier komt een overzicht van alle toegevoegde klanten -->
      <p>Klanten</p>
  </div>

  
  <div class="buttons">
      <a href="" id="btn_new" class="btn_bottom">Nieuwe klant toevoegen</a>
      <div class="modify_remove">
          <a href="" id="btn_modify" class="btn_bottom">klant aanpassen</a>
          <button id="btn_remove" class="btn_bottom">Klant verwijderen</button>
      </div>
  </div>









</body>
</html>