<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="klanten-toevoeg.css">
</head>
<body>
  


  <form action="">
    <h1>Klant toevoegen</h1>

    <div class="labels">
      <label for="">Klant nummer:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="number" name="nummer" id="nummer" placeholder="Klant nummer">
    </div>
    
    <div class="labels">
      <label for="voornaam">Voornaam:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="text" name="voornaam" id="voornaam" placeholder="Voornaam">
    </div>
  
    <div class="labels">
      <label for="btw"> Achternaam:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="text" name="achternaam" id="achternaam" placeholder="Achternaam">
    </div>


   <div class="labels">
    <label for="btw-bedrag">Straat:</label>
   </div>
   
    <div class="input-tab">
      <input class="input-field" type="text" name="straat" id="straat" placeholder="Straat">
    </div>


    <div class="labels">
      <label for="status">Huisnummer:</label>
    </div>
    
    <div class="input-tab">
      <input class="input-field" type="number" name="huisnummer" id="huisnummer" placeholder="Huis nummer">
    </div>
    
    <div class="labels">
      <label for="Pc">Post-code:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="number" name="postcode" id="postcode" placeholder="Post-code">
    </div>

    <div class="labels">
      <label for="voorschot">Gemeente</label>
    </div>
    
    <div class="input-tab">
      <input class="input-field" type="text" name="gemeente" id="gemeente" placeholder="Gemeente">
    </div>

    <div class="labels">
        <label for="datum voorschot">Telefoonnummer:</label>
    </div>

    <div class="input-tab">
      
    <input class="input-field" type="number" name="number" id="number">
    </div>

    <div class="labels">
      <label for="status">Email</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="email" name="email" id="email" placeholder="email-adress">
  </div>
    </div>


    
    <div class="button">
      <button class="btn" type="button" class="btn1">Toevoegen</button>
      <button class="btn"  type="button" class="btn2">Annuleren</button>
    
    </div>
      
   


  </form>




















</body>
</html>