<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="klanten-toevoeg.css">
</head>
<body>
  


  <form action="">
    <h1>Klant toevoegen</h1>
    <di class="inputs">
      
      <div class="form_group">
        <label for="">Klant nummer:</label>
        <input class="input-field" type="number" name="nummer" id="nummer">
      </div>
      
      <div class="form_group">
        <label for="voornaam">Voornaam:</label>
        <input class="input-field" type="text" name="voornaam" id="voornaam">
      </div>
    
      <div class="form_group">
        <label for="btw"> Achternaam:</label>
        <input class="input-field" type="text" name="achternaam" id="achternaam">
      </div>
  

      
      <div class="form_group">
        <label for="Pc">Post-code:</label>
        <input class="input-field" type="number" name="postcode" id="postcode">
      </div>
  
      <div class="form_group">
        <label for="voorschot">Gemeente</label>
        <input class="input-field" type="text" name="gemeente">
      </div>
  
      <div class="form_group">
          <label for="datum voorschot">Telefoonnummer:</label>
        <input class="input-field" type="number" name="number" id="number">
      </div>
  
      <div class="form_group">
        <label for="status">Email</label>
        <input class="input-field" type="email" name="email" id="email">
    </div>
  
  
  
      
    <div class="btns">
      <input type="submit" id="submitbtn" value="Toevoegen" class="btn_bottom">
      <a href="" id="cancelbtn" class="btn_bottom">Annuleren</a>
  </div>
  
    </form>
  

    </div>



</body>
</html>