<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive dropdown menu</title>
  

<link rel="stylesheet" href="Alt.css">
</head>

<body>
  
 <header>
  <nav class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Klanten</a>
        <ul class="dropdown">
          <li><a href="#"> Nieuwe klant toevoegen</a></li>
          <li><a href="#">Klant aanpassen</a></li>
        </ul>
      
      </li>
      <li><a href="#">Gebruikers</a>
        <ul class="dropdown">
          <li><a href="#"> Nieuwe gebruiker toevoegen</a></li>
          <li><a href="#">Gebruiker aanpassen</a></li>
        </ul>
      
      </li>
      <li><a href="#">Leverancier</a>
        <ul class="dropdown">
          <li><a href="#"> Nieuwe leverancier toevoegen</a></li>
          <li><a href="#">leverancier aanpassen</a></li>
        </ul>
      </li>
      <li><a href="#">Projecten</a>
        <ul class="dropdown">
          <li><a href="#"> Nieuwe project toevoegen</a></li>
          <li><a href="#">Project aanpassen</a></li>
        </ul>
      
      </li>
      <li><a href="#">Facturen leveranciers</a>
        <ul class="dropdown">
          <li><a href="#"> Nieuwe factuur toevoegen</a></li>
          <li><a href="#">Factuur aanpassen</a></li>
        </ul>
      
      </li>
      <li><a href="#">Facturen klanten</a>
        <ul class="dropdown">
          <li><a href="#"> Nieuwe factuur toevoegen</a></li>
          <li><a href="#">Factuur aanpassen</a></li>
        </ul>
      </li>
    </ul>
  </nav>
 </header>


<div class="banner-area">

</div>


 <script src="Project.js"></script>

  


</body>
</html>