<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../home/home.css">
</head>
<body>
  
  
    <nav >
      <ul>
        <li><a href="#">Klanten</a></li>
        <li><a href="#">Gebruikers</a></li>
        <li><a href="#">Leveranciers</a></li>
        <li><a href="#">Projecten</a></li>
        <li><a href="#">Facturen leveranciers</a></li>
        <li><a href="#">Facturen klanten</a></li>
      </ul>
     
    </nav>
  
  







  <div class="btn">
    <button>Nieuwe klant toevoegen</button>
    <button>Klant aanpassen</button>
  </div>
      

  





</body>
</html>