*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

}


body{

}


.menu-bar{
  background: grey;
  text-align: center;
}

.menu-bar ul{
  display:flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  
}

.menu-bar ul li{
  width: 300px;
  margin: 15px;
  padding:15px;

}

.menu-bar ul li a{
  text-decoration: none;
  color: black;
}

.menu-bar ul li:hover{
  background: brown;
  border-radius: 10px;

}




footer{
  position: fixed;
  top: 80%;
  width: 100%;
  padding: 20px 100px;
}

footer ul{
  display:inline-flex;
  list-style: none;
  color: white;
  
}

footer ul li{
  width: 300px;
  margin: 15px;
  padding:15px;
}

footer ul li a{
  text-decoration: none;
  color: black;
}

footer ul li:hover{
  background: brown;
  border-radius: 10px;

}

