*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  

}


body{
  min-height: 100vh;
}


nav{
  background-color: blue;
  box-sizing: 3p 3px 5px rgba (0, 0, 0, 0.1);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: white;
  
}

nav a:hover{
  cursor: pointer;
}




.btn{
  background-color: wheat;
}


.btn button{
  border-radius: 40px;
  border: 0;
  font-size:15px;
  font-weight:500;
  margin-top:80%;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  background: blue;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
}

