* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../assests/images/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161538 !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* ------------- FORM -------------*/

form {
    width: 70%;
    height: 790px; /*Ofwel 100% --> zeker altijd past, maar dan beweegt het iets naar beneden bij hover doordat size buttons stijgt */
    margin: 1.5rem auto;
    color: #161538;
    background-color: #e9e6e6;
    border-style: solid;
    border-color: #838287;
    border-radius: 5px;
}

form h1 {
    color: #ff9992;
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem;
}

form label {
    padding: 1rem;
    margin-right: 1rem;
    display: inline-block;
    width: 200px;
    text-align: right;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.form_group {
    display: flex;
    align-items: center;
}

.form_group input {
    padding: 0.5rem;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #161538;
    border-radius: 3px;
}

/* ------------- FORM BUTTONS -------------*/

.btns input, .btns a {
    width: 170px;
    background-color: #161538;
    border-style: solid;
    border-color: #838287;
    border-width: 1.5px;
    border-radius: 4em;
    padding: 1rem 2.5rem;
    color: #c7c7ca;
    font-weight: 400;
    margin: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.btns {
    display: flex;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

#submitbtn {
    margin-left: auto;
}

#cancelbtn {
    margin-left: 2rem;
    display: inline-block; /* a: default display: inline --> doesn't respond to width or height changes --> change such that transform has an effect. Not block only to keep buttons on same line */
}

.btn_bottom {
    transition: transform 0.7s;
}

.btn_bottom:hover {
    transform: scale(1.1);
    color: #ff9992;
    border-color: #ff9992;
    border-width: 2.3px;
    font-weight: bold;
}

/* ------------- RESPONSIVE WEB DESIGN -------------*/

@media screen and (max-width:1200px) {

    .form_group {
        display: block;
        padding-bottom: 0.5rem;
        margin-left: 2rem; 
    }

    .form_group label {
        display: block;
        text-align: start;
        padding: 0;
        padding: 0.5rem 0;
    }

    form {
        height: 100%;
        margin: 1.5rem auto;
    }
}

@media screen and (max-width:767px) {

    /* ------------- FORM -------------*/

    .inputs {
        align-items: center;
    }
    
    .form_group {
        display: block;
        padding-bottom: 0.5rem;
        margin: 0;
    }

    .form_group label {
        display: block;
        text-align: start;
        padding: 0;
        padding: 0.5rem 0;
    }

    form {
        height: 100%;
        margin: 1.5rem auto;
    }

    /* ------------- BUTTONS -------------*/

    .btns {
        flex-direction: column-reverse;
        margin: 1rem 0;
    }

    #submitbtn, #cancelbtn {
        margin: auto;
    }

    #submitbtn {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:519px) {
    .form_group input {
        width: 100%;
    }

    .form_group label {
        margin: auto;
        text-align: start;
    }
}
