<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="factuur-lev.css">
</head>
<body>
  

  <form action="">
    <h1>Factuur Leverancier toevoegen</h1>

    <div class="inputs">
      
    <div class="form_group">
      <label for="">Factuur nummer:</label>
      <input class="input-field" type="number" name="nummer" id="nummer">
    </div>
    
    <div class="form_group">
      <label for="voornaam">Factuur datum:</label>
      <input class="input-field" type="date" name="fact-dat" id="fact-dat" >
    </div>
  
    <div class="form_group">
      <label for="btw"> BTW %:</label>
      <input class="input-field" type="number" name="btw" id="btw">
    </div>


   <div class="labels">
    <label for="btw-bedrag">Btw bedrag:</label>
      <input class="input-field" type="number" name="btw-bedrag" id="btw-bedrag">
    </div>


    <div class="form_group">
      <label for="status">Status betaling:</label>
      <select id="dropdown" name="status" id="status">
        <option value="Open">Open</option>
        <option value="betaald">Betaald</option>
        <option value="achter">Achertstallig</option>
      </select>
    </div>
    
    <div class="form_group">
      <label for="Pc">Datum betaling:</label>
      <input class="input-field" type="date" name="datum" id="datum">
    </div>

    <div class="form_group">
      <label for="voorschot">Voorgeschoten:</label>
      <input class="input-field" type="number" name="voorschot" id="voorschot" >
    </div>

    <div class="form_group">
        <label for="datum voorschot">Datum voorschot:</label>
      <input class="input-field" type="date" name="datum" id="datum">
    </div>

    <div class="form_group">
      
    <label for="status">Terugbetaald?</label>
      <input class="radio" type="radio" name="radio-button" value="ja">Ja<br>
      <input class="radio" type="radio" name="radio-button" value="nee">Nee<br>
    </div>


<div class="form_group">
  <label for="datum terugbetaling">Datum terugbetaling:</label>
  <input class="input-field" type="date" name="datum" id="datum">
</div>

  <div class="form_group">
    <label for="status">Vestuurd boekhouder?</label>
      <input type="radio" name="radio-button" value="ja">Ja<br>
      <input type="radio" name="radio-button" value="nee">Nee<br>
    </div>
    

   <div class="btns">
                <input type="submit" id="submitbtn" value="Toevoegen" class="btn_bottom">
                <a href="" id="cancelbtn" class="btn_bottom">Annuleren</a>
                <input type="submit" id="submitbtn" value="Bestanden uploaden" class="btn_bottom">
            </div>


    </div>

  </form>


</body>
</html>