@import url("home.css");

.chart-container {
    color: #161538;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.row1,
.row2 {
    background-color: turquoise;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.line-chart {
    flex-basis: calc(33.33% - 4rem);
    padding: 2rem;
    margin: 2rem;
    font-size: 3rem;
}

.pie-chart {
    flex-basis: calc(16.66% - 4rem);
    padding: 2rem;
    margin: 2rem;
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #161538;
    font-size: 3rem;
}





p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}



  
  
  
  
  
  




@media (max-width: 600px) {
    .chart-container {
        flex-direction: column;
    }

    .line-chart,
    .pie-chart {
        flex-basis: 100%;
        margin: 1rem;
    }
}
    .btn_bottom { 
    height: fit-content;
    margin-bottom: 10px;
}