@import url("home.css");

.chart-container {
    color: #161538;
    background-color: #838287;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: beige;
    margin: 3rem;
}

.chart-box {
    background-color: #838287; 
}

.canvas {
    background-color: gold;
}

.row1,
.row2 {
    background-color: turquoise;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.line-chart {
    flex-basis: calc(33.33% - 4rem);
    padding: 2rem;
    margin: 2rem;
    font-size: 3rem;
}

.pie-chart {
    flex-basis: calc(16.66% - 4rem);
    padding: 2rem;
    margin: 2rem;
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #161538;
    font-size: 3rem;
}
body h1 {
    font-size: 4rem;
}


.chart-container h5 {
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #161538;
    font-size: 1.5rem;;
}

p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.btn_bottom{
    background-color: #161538;
    border: 1px solid #838287;
    border-radius: 2rem;
    padding: 1rem 5rem;
    color: #c7c7ca;
    font-weight: 400;
    margin: 0.5rem;
    text-decoration: none;
    text-align: center;
  }
  
  
  
  
  .btn_bottom:hover {
    transform: scale(1.1);
    color: #ff9992;
    border-color: #ff9992;
    border-width: 2.3px;
    font-weight: bold;
  }
  




@media (max-width: 600px) {
    .chart-container {
        flex-direction: column;
    }

    .line-chart,
    .pie-chart {
        flex-basis: 100%;
        margin: 1rem;
    }
}
    .btn_bottom { 
    height: fit-content;
    margin-bottom: 10px;
}