* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../assests/images/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161538 !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

div.hidden, h1.hidden { /* Div erbij om specificiteit te verhogen --> niet overschreven door rest (niet nodig als helemaal onderaan */
    display: none;
}

/* ------------- FORM -------------*/

form {
    width: fit-content;
    margin: 1.5rem auto;
    color: #161538;
    background-color: #e9e6e6;
    border-style: solid;
    border-color: #838287;
    border-radius: 5px;
}

#form_leverancier {
    height: 790px; /*Ofwel 100% --> zeker altijd past, maar dan beweegt het iets naar beneden bij hover doordat size buttons stijgt */
}

#form_gebruiker {
    height: 960px;
}

form h1 {
    color: #ff9992;
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 2rem 1rem 2rem;
}

#form_gebruiker h1 {
    padding: 2rem 1.5rem 1rem 1.5rem;

}

form label {
    padding: 1rem;
    margin-right: 1rem;
    display: inline-block;
    width: 195px; /*200px;*/
    text-align: right;
    font-weight: bold;
}

#form_gebruiker label {
    width: 175px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.form_group {
    display: flex;
    align-items: center;
    /*margin-left: 100px of justify-content: center --> enkel bij details */
}

.form_group.toev {
    justify-content: center;
}

.form_group input, #functie {
    padding: 0.5rem;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #161538;
    border-radius: 3px;
}

#functie:disabled {
    background-color: #e9e6e6;
}

/* ------------- FORM BUTTONS -------------*/

.btns input, .btns a, .btns_details a, .btns_details button {
    width: 170px;
    background-color: #161538;
    border-style: solid;
    border-color: #838287;
    border-width: 1.5px;
    border-radius: 4em;
    padding: 1rem 2.5rem;
    color: #c7c7ca;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.btns, .btns_details {
    display: flex;
    margin: 2rem 1.5rem 0 0;
    height: 80px;   
    align-items: flex-end;
}

.btns_details {
    flex-direction: row-reverse;
    margin: 2rem 0 0 0;
}

.modify_back_btns {
    margin-left:8rem;
}

#btn_modify, #btn_remove {
    display: inline-block;
    height: fit-content;
    width: 220px;
    padding: 1rem;
    margin: 0 1.5rem 0.8rem 1rem;
}

#btn_remove {
    margin: 0 0 0.8rem 1.5rem;
}

#btn_back {
    display: inline-block;
    width: 220px;
}

#submitbtn {
    margin-left: auto;
    height: fit-content;
    margin-bottom: 0.8rem;
}

#cancelbtn {
    margin-left: 1.5rem;
    display: inline-block; /* a: default display: inline --> doesn't respond to width or height changes --> change such that transform has an effect. Not block only to keep buttons on same line */
    height: fit-content;
    margin-bottom: 0.8rem;
}

.btn_bottom {
    transition: transform 0.7s;
}

.btn_bottom:hover, .btns_details .btn_bottom:hover {
    transform: scale(1.1);
    color: #ff9992;
    border-color: #ff9992;
    border-width: 2.3px;
    font-weight: bold;
}

/* ------------- RESPONSIVE WEB DESIGN -------------*/

@media screen and (max-width:1200px) {

/* ------------- FORM -------------*/

    form {
        margin: 1.5rem auto;
    }

    #form_leverancier, #form_gebruiker { /* Indien titel op 1 lijn */
        height: 100%;
    }

    /* #form_leverancier {
        height: 1180px; 
    } 
    
    #form_gebruiker {  /* Om titel gebruiker op 1 lijn --> padding links & rechts verminderen 
        height: 1270px;
    } */

    .form_group {
        display: block;
        padding-bottom: 0.5rem;
        align-self: center;

    }

    .form_group label {
        display: block;
        text-align: start;
        padding: 0;
        padding: 0.5rem 0;
    }

    form h1 {
        width: 450px;
        font-size: 2.5rem;
        /*margin: 0 auto 1rem auto;*/
    }

/* ------------- BUTTONS -------------*/

    .btns {
        margin-right: 1rem;
    }

    #submitbtn {
        margin-right: 0;
    }

    #cancelbtn {
        margin-left: 1rem;
    }

    #btn_back, #btn_modify, #btn_remove {
        margin: 0;
    }

    #btn_modify {
        margin-bottom: 7px;
    }

    #btn_remove {
        margin-bottom: 10px;
    }

    .btns_details {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }

    .modify_back_btns {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0.5rem 0 2rem 0;
    }


}

@media screen and (max-width:540px) { /*767*/ /*519*/

/* ------------- FORM -------------*/

    #form_leverancier, #form_gebruiker {
        height: 100%;
    }

    form h1 {
        width: min-content;
        font-size: 2rem;
        margin: 1rem 2rem;
    }

    #form_leverancier h1, #form_gebruiker h1 {
        padding: 0;
    }
    
    .form_group input, #functie {
        width: 230px;
    }

    .form_group label {
        text-align: start;
    }

/* ------------- BUTTONS -------------*/

    .btns {
        flex-direction: column-reverse;
        margin: 1.5rem 0 1rem 0;
        height: fit-content;
    }
    
    #submitbtn, #cancelbtn {
        margin: auto;
    }
    
    #submitbtn {
        margin-bottom: 2.5rem;
    }
}
