body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../assests/images/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161538 !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

div.hidden, h1.hidden { 
    display: none;
}

/* ------------- FORM -------------*/

    form {
        width: fit-content;
        margin: 1.5rem auto;
        color: #161538;
        background-color: #e9e6e6;
        border-style: solid;
        border-color: #838287;
        border-radius: 5px;
    }

    #form_projecten{
        height: 100%; /*Ofwel 100% --> zeker altijd past, maar dan beweegt het iets naar beneden bij hover doordat size buttons stijgt */
    }

    form h1 {
        color: #ff9992;
        padding: 2rem 0rem 1rem 0rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0 2rem 0 2rem;
        font-size: 2.3rem;
    }

    form h2 {
        color: #ff9992;
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .inputs {
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 2rem 0 2rem;
    }

    #projectgegevens_box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form_group {
        display: flex;
        align-items: center;
    }

    form label {
        padding: 1rem 0 1rem 0;
        margin-right: 1rem;
        display: inline-block;
        width: 150px;
        text-align: right;
        font-weight: bold;
    }

    .form_group input , .form_group select, .form_group textarea{
        padding: 0.5rem;
        margin: 0.5rem;
        width: 230px;
        border-style: solid;
        border-width: 1px;
        border-color: #161538;
        border-radius: 3px;
    }

/* ------------- FORM BUTTONS -------------*/

    .btns input, .btns a, .btns_details a, .btns_details button {
        width: 170px;
        background-color: #161538;
        border-style: solid;
        border-color: #838287;
        border-width: 1.5px;
        border-radius: 4em;
        padding: 1rem 2.5rem;
        color: #c7c7ca;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
    }
    
    .btns_details {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 0 0;
        height: 80px;   
        height: fit-content;
    } 


    #btn_modify, #btn_remove, #btn_back {
        display: inline-block;
        height: fit-content;
        width: 230px; 
        margin: 0 1.5rem 1rem 1rem; 
    } 

    .modify_back_btns {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 0 3rem 0;
    }

    #btn_remove {
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    #btn_back { 
        margin: 0 0 0 1rem;
    } 

    #modify {
        margin-bottom: 1rem;
    }

    .btn_bottom:hover, .btns_details .btn_bottom:hover {
        transform: scale(1.1);
        color: #ff9992;
        border-color: #ff9992;
        border-width: 2.3px;
        font-weight: bold;
        transition: transform 0.7s;
    }

    .btns{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        align-items: center;
    }

    #submitbtn{
        margin-bottom: 1rem;
    }

    #cancelbtn{
        margin-bottom: 1rem;
    }


/* ------------- RESPONSIVE WEB DESIGN -------------*/
    @media screen and (max-width:600px) { 

        /* ------------- FORM -------------*/
        
            form h1 {
                width: 250px;
                margin: 2rem auto 1rem auto;
                font-size: 2rem;
                padding: 0;
            }
            
            #factuurgegevens_box{
                display: flex;
                flex-direction: column;
            }
        
            .form_group{
                display: block;
                align-self: center;
            }
        
            .form_group label {
                text-align: start;
                margin-right: 0;
                display: block;
                padding-bottom: 0;
                padding-top: 1rem;
            }
        
            .form_group input , .form_group select, .form_group textarea{
                width: 200px;
                margin-left: 0;
            }

            
        /* ------------- BUTTONS -------------*/
        
            .btns {
                flex-direction: column-reverse;
                margin: 1.5rem 0 1rem 0;
                height: fit-content;
            }
            
            #submitbtn, #cancelbtn {
                margin: auto;
            }
            
            #submitbtn {
                margin-bottom: 2.5rem;
                margin-top: 2.5rem;
            }
        
    }
