* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../assests/images/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161538 !important;
    min-height: 100vh;
}

/* ------------- HEADER ------------- */

/* ------------- MAIN NAVBAR -------------*/
nav.main {
    background-color: #161538;
    padding: 0.8rem 1rem;
    height: 123px;
}

nav.main ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.large_screen_nav li {
    padding: 1.3rem 1rem;
    text-align: center;
}

a.menu, nav.main a, a.menu:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color:#cbcaca; /* c7c7ca */
    position: relative;
}

a.menu::after {
    /*Je maakt hier een leeg grijs gekleurd blokje dat 2px hoog is en 0% breed.
    Je plaatst het blokje op een bepaalde positie (5px onder a en in het midden van a) en geeft aan dat de transitie toegepast moet worden op breedte van blokje*/
    content: ''; 
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #c7c7ca;
    transition: width 0.5s ease;
    transform: translateX(-50%);    
}

a.menu.nav-link::after {
    bottom: 5px;
}

nav.main a.menu:hover::after {
    /* Hover zorgt ervoor dat blokje (dus eigenlijk lijn) 100% breed wordt*/
    width: 100%;
}

a.menu.active::after {
    width: 100%;
}

#logo {
    display: block;
    width: 60px;
}

#logout {
    font-size:22px;
}

.medium_screen_nav {
    display: none;
}

#small_screen_nav {
    display: none;
}

/* ------------- CONTENT -------------*/

#body_without_navbar {
    min-height: calc(100vh - 123px);
    display: flex; /* Grijs vak in het midden (verticaal) */
}

.content {
    width: 80%;
    min-height: 75vh;
    margin: 1.5rem auto;
    color: #161538;
    background-color: #e9e6e6;
    border-style: solid;
    border-color: #838287;
    border-radius: 5px;   
    display: flex;
    flex-direction: column;
}

/* ------------- SUBNAVBAR -------------*/

#subnav_large {
    background-color: #161538;
    height: fit-content;
    padding: 0rem;
    margin: -2.5px -2.5px 0 -2.5px; /* To make border of navbar overlap with border of content */
    border-style: solid;
    border-color: #161538;
    border-radius: 5px 5px 1px 1px;   
    border-bottom-width: 0;
}

#subnav_large ul {
    list-style: none;
    padding: 0 1rem;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#subnav_large li {
    padding: 0;
    /*border-right: 2px solid #cbcaca;*/
}

#subnav_large ul button, #subnav_small ul button {
    height: min-content;
    text-transform: capitalize;
    font-weight: 700;
    color:#cbcaca;
    background-color: #161538;
    border-width: 0;
    padding: 0.8rem 1rem 15.3px 1rem;
}

#subnav_large ul:last-child {
    padding-right: 0;
}

#subnav_large li:last-child {
    border-right-width: 0;
}

#subnav_small {
    display: none;
}

#subnav_large button.subnav_active {
    background-color: #e9e6e6;
    margin: 0 0 -2.5px 0; /* To make border of navbar overlap with border of content */
    color: #161538;
    border-radius: 5px 5px 0px 0px;
}

#subnav_large button:hover { 
    background-color: #e9e6e6;
    margin: 0 0 -2.5px 0; /* To make border of navbar overlap with border of content */
    color: #161538;
    border-radius: 5px 5px 0px 0px;
}

#subnav_large ul li:last-child button:hover {
    margin: 0 0 -2.5px 0; /* To make border of navbar overlap with border of content */
}

/* ------------- h1 -------------*/

.content h1 {
    color: #ff9992;
    padding: 1rem 0rem;
    text-align: center;
    text-transform: uppercase;    
}

/* ------------- DIV -------------*/

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* ------------- OVERZICHT DIV -------------*/

#overzicht_no_title {
    display: flex;
}

.column {
    width: 50%;
}

#overzicht_no_title h2 {
    margin-bottom: 1.5rem;
}

#right_column h2 {
    text-align: center;
}

#left_column h2 {
    margin-left: 2rem;
}

/* ------------- INFO TABLE -------------*/

#info_table {
    margin-left: 2rem;
}

#info_table th {
    padding-right: 0;
}

.cell {
    padding-top: 0.5rem;
}

#adres_top {
    padding-bottom: 0;
}

#adres_bottom {
    padding-top: 0;
}

/* ------------- KPI TABLE -------------*/

#kpi_table {
    margin: auto;
    border: 1px #161538 solid;
}

#kpi_table .waarde {
    text-align: center;
    width: 200px;
}

#kpi_table th {
    font-weight: normal;
    background-color: #161538;
    color: #e9e6e6;
}

#kpi_table tr:nth-child(1), #kpi_table tr:nth-child(2), #kpi_table tr:nth-child(3) {
    border-bottom: 1px #e9e6e6 solid;
}

#kpi_table th:first-child {
    border-right: 1px #e9e6e6 solid;
}



#kpi_table td {
    border-bottom: 1px #161538 solid;
}

/* ------------- INKOMSTEN & UITGAVEN -------------*/

.Search{
    padding: 10px 20px;
    color:#ffffff;
    background-color: #161538;
    outline: none;
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
  }
  
  
input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #029bcf;
    border-radius: 0.3rem  0 0 0.3rem;
  }
  
.table-section{
    overflow: scroll;
    /*height: 500px;*/
    /*height: 80%;*/
  }

#inkomsten table, #uitgaven table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
    position: relative;
    text-align: left;
  }

  thead th{
    position: sticky;
    top: 0;
    background-color: #161538;
    color: #ffffff;
  }
  
  th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
  }

  /*.sticky {
    position: fixed;
    top: 0;
  } */
  
  #inkomsten tr:hover td, #uitgaven tr:hover td{
    cursor: pointer;
    background-color: #75737a;
  }

  .table-filter{
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
  }
  

  .search-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;} /*Optional: add margin to adjust spacing*/


.btns a {
    width: 200px;
    background-color: #161538;
    border-style: solid;
    border-color: #838287;
    border-width: 1.5px;
    border-radius: 4em;
    padding: 1rem 2.5rem;
    color: #c7c7ca;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
   /* margin: auto 1rem 1rem auto;*/
}

.btns {
    display: flex;
    margin: 2rem 1rem 1rem 0;
    align-items: flex-end;
    justify-content: space-between;
}

#btn_back {
    margin-left: 1rem;
}

.btn_bottom {
    transition: transform 0.7s;
}

.btn_bottom:hover {
    transform: scale(1.1);
    color: #ff9992;
    border-color: #ff9992;
    border-width: 2.3px;
    font-weight: bold;
}

/* ------------- RESPONSIVE WEB DESIGN -------------*/

@media screen and (max-width:1197px){

/* ------------- MAIN NAVBAR -------------*/

    .large_screen_nav li {
        width: min-content; /* Wanneer menu items wrappen op 2 lijnen, zorgen nog steeds goed geplaatst*/
    }

    #fact_lev_menu::after {
        left: 42%;
    }
    
    #fact_lev_menu:hover::after {
        height: 1.5px;
        width: 118%;
    }
    
    #fact_klant_menu::after {
        left: 53%;
    }
    
    #fact_klant_menu:hover::after {
        height: 1.5px;
        width: 103%;
    }
}

@media screen and (max-width:1000px) {
    /* ------------- OVERZICHT -------------*/

    #left_column h2 {
        margin-left: 0.7rem;
    }
        
    #info_table {
        margin-left: 0.7rem;
    }
}

@media screen and (max-width:950px) {
/* ------------- MAIN NAVBAR -------------*/

    .large_screen_nav {
        display: none;
    }

    .medium_screen_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav.main ul {
        flex-direction: column;
    }

    .part_nav {
        display: flex;
        align-items: center;
    }

    .part_nav li {
        margin: 0.5rem 1rem;
        text-align: center;
    }

    #logout {
        display: block;
        margin-left: 1.5rem;
    }

    #logo {
        margin-right: 0.5rem;
    }

/* ------------- SUBNAVBAR -------------*/

    #subnav_large ul {
        flex-direction: row;
        padding-left: 0;
    }

    #subnav_large button {
        padding: 0.8rem 1rem 15.3px 1rem;
    }
}

@media screen and (max-width:880px) {
    #overzicht_no_title {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    #left_column h2 {
        text-align: center;
    }

    #right_column h2 {
        margin-top: 1.5rem;
    }

    #info_table {
        margin: auto;
    }
}
    
@media screen and (max-width:712px) { /* Waarde volgens bootstrap */
    
/* ------------- MAIN NAVBAR -------------*/
   
    .medium_screen_nav {
        display: none;
    }
    
    #small_screen_nav {
        display: flex; /* Heeft zelfde effect als block */
        z-index: 10; /* Stacking order --> zodat subnav onder main navbar */
        padding-left: 0;
        padding-right: 0;
    }
    
    #toggle {
        color: #ff9992;
    }

    button.navbar-toggler {
        outline: none;
        border-width: 0;
    }

    button.navbar-toggler:focus {
        box-shadow: none;
    }

    button.navbar-toggler:hover {
        border-width: 1px;
        border-color: #ffffff;    
    }
    
    div.container-fluid {
        background-color: #161538;
        width: 100%;
    }
    
    #logo {
        margin-left: 1rem;
    }

    .container-fluid button {
        margin-right: 0.5rem;
    }
    
    .nav-item {
        margin: 0.2rem 0;
        font-size: small;
    }
    
    a.menu.nav-link.active {
        color: #cbcaca;
    }
    
    #li_logout a{
        display: flex;
        margin: 0.5rem 0;
        align-items: center;
        font-size: small;
    }
    
    #li_logout i {
        margin-left: 0;
        margin-right: 0.5rem;
        font-size: 15px;   
    }

/* ------------- BUTTONS -------------*/
    .btns {
        flex-direction: column-reverse;
        margin: 2rem auto 10px auto;
    }

    #btn_details {
        margin-bottom: 10px;
    }

    #btn_back {
        margin-left: 0;
    }
}

@media screen and (max-width:440px) {
    #kpi_table .waarde {
        width: fit-content;
    }

    #kpi_table th {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #info_table th {
        padding-left: 0.2rem;
    }

    .break {
        hyphens: manual;
        word-break: break-word;
    }

    span {
        color: #e9e6e6;
    }
}

@media screen and (max-width:430px) {

/* ------------- SUBNAVBAR -------------*/
    #subnav_large {
        display: none;
    }
    
    #subnav_small {
        display: block;
        margin: -2.5px -2.5px 0 -2.5px; 
        border-style: solid;
        border-color: #161538;
        border-radius: 5px 5px 1px 1px; 
    }
    
    #subnav_small ul {
        align-items: flex-end;
        margin-bottom: 0 !important;
    }
  
    #subnav_small li {
        margin: 0.5rem 0;
    }
    
    #toggle_subnav {
        color: #c7c7ca;
    }
    
    .bg-custom.navbar {
        background-color: #161538;
    }
    
    button.navbar-toggler {
        outline: none;
        border-width: 0;
        z-index: 4;
    }
        
    button.navbar-toggler:focus {
        box-shadow: none;
    }
        
    #subnav_small button.navbar-toggler:hover {
        border-width: 1px;
        border-color: #838287;    
    }
    
    .navbar-collapse {
        margin-top: -30px
    }
    
    #subnav_small ul button {
        padding: 0;
    }
    
    #subnav_small button.subnav_active {
        -webkit-text-stroke: 0.4px #ff9992;
        /*text-shadow: 0 0 1.5px #ff9992;*/ /* https://kinsta.com/blog/css-text-outline/*/
        color: #ffffff;
    }
    
    #subnav_small .subnav-btn:hover {
        -webkit-text-stroke: 0.4px #ff9992;
        /*text-shadow: 0 0 1.5px #ff9992;*/
        color: #ffffff;
    }
}
