
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: url('../../assests/images/abstract-2d.jpg') no-repeat;
  background-size: cover;
  background-position: center;

}



form{
  width: 600px;
  margin: 60px auto 40px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0, 0 4px 8px 0;

}

h1{
  text-align: center;
  color: #050DC7;
}


.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;
  margin-top: 20px;
  color: #ffffff;
}

.input-tab {
  display: inline-block;
  text-align: left;
  width: 50%;
  margin-left: 10px;
}


.input-field {
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 18px 0 0 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
}


::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
}


input {
  margin: 7px;
}

#dropdown {
  width: 100%;
  padding: 5px;
  margin: 20px 0 10px 10px;  
  border: 1px solid #e67e22;
  border-radius: 3px;
  font-family: inherit;
  font-size: 15px;
}

.btn{
  width:30%;
  border-radius: 90px;
  border-color: #46b8da;
  background: #050DC7;
  padding: 10px;
  height: fit-content;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: small;
  margin-left: 20px;
  }
  
  .button{
    margin-top: 20px;
    display: flex;
  }


  #uploaden{
    margin-left: 50px;
    font-size: 10px;
    font-weight: 600;
    
  }

  @media only screen and (max-width: 768px) {
  
    h1 {
      font-size: 2em;
    }
    
    .labels {
      width: 100%;
      text-align: left;
    }
    .input-tab {
      width: 100%;
      float: left;
      margin-left: -10px;
    }
    
    .button {
    margin-top: 60px;
    }
  
  
  }
  






