<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="factuur-lev.css">
</head>
<body>
  


  <form action="">
    <h1>Factuur Leverancier toevoegen</h1>

    <div class="labels">
      <label for="">Factuur nummer:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="number" name="nummer" id="nummer" placeholder="Factuur nummer">
    </div>
    
    <div class="labels">
      <label for="voornaam">Factuur datum:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="date" name="fact-dat" id="fact-dat" >
    </div>
  
    <div class="labels">
      <label for="btw"> BTW %:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="number" name="btw" id="btw" placeholder="BTW-invoeren">
    </div>


   <div class="labels">
    <label for="btw-bedrag">Btw bedrag:</label>
   </div>
   
    <div class="input-tab">
      <input class="input-field" type="number" name="btw-bedrag" id="btw-bedrag" placeholder="0">
    </div>


    <div class="labels">
      <label for="status">Status betaling:</label>
    </div>
    
    <div class="input-tab">
      <select id="dropdown" name="status" id="status">
        <option value="Open">Open</option>
        <option value="betaald">Betaald</option>
        <option value="achter">Achertstallig</option>
      </select>
    </div>
    
    <div class="labels">
      <label for="Pc">Datum betaling:</label>
    </div>

    <div class="input-tab">
      <input class="input-field" type="date" name="datum" id="datum">
    </div>

    <div class="labels">
      <label for="voorschot">Voorgeschoten:</label>
    </div>
    
    <div class="input-tab">
      <input class="input-field" type="number" name="voorschot" id="voorschot" placeholder="0">
    </div>

    <div class="labels">
        <label for="datum voorschot">Datum voorschot:</label>
    </div>

    <div class="input-tab">
      
    <input class="input-field" type="date" name="datum" id="datum">
    </div>

    <div class="labels">
      
    <label for="status">Terugbetaald?</label>
    </div>

    <div class="input-tab">
      <input type="radio" name="radio-button" value="ja">Ja<br>
      <input type="radio" name="radio-button" value="nee">Nee<br>
    </div>


<div class="labels">
  <label for="datum terugbetaling">Datum terugbetaling:</label>
</div>
<div class="input-tab">
  <input class="input-field" type="date" name="datum" id="datum">
</div>

  <div class="labels">
    <label for="status">Vestuurd boekhouder?</label>
  </div>
    
    <div class="input-tab">
      <input type="radio" name="radio-button" value="ja">Ja<br>
      <input type="radio" name="radio-button" value="nee">Nee<br>
    </div>

    
    <div class="button">
    <button class="btn" type="button" class="btn">Toevoegen</button>
    <button class="btn"  type="button" class="btn">Annuleren</button>
    <button id="uploaden" class="btn"  type="button" class="btn">Bestanden uploaden</button>

    </div>

    

  </form>




















</body>
</html>