body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../../assests/images/abstract-2d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

/* ------------- NAVBAR -------------*/
#top {
    background-color: #161538;
    padding: 1rem 0 1rem 0;
}

#navBox {
    list-style: none;
    padding: 0 1rem 0 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 2rem;

}

.container-fluid{
    padding: 0 0 0 1rem;
}

nav li {
    padding: 2rem 0 2rem 0;
    padding: 0;
    text-align: center;
}

 #navbar_logout{
    padding: 0 0 0 0.5rem;
 }

 #navbar_logo{
    padding: 0;
 }
 
.menu {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color:#cbcaca; /* c7c7ca */
    position: relative;
}

nav a.menu::after {
    /*Je maakt hier een leeg grijs gekleurd blokje dat 2px hoog is en 0% breed.
    Je plaatst het blokje op een bepaalde positie (5px onder a en in het midden van a) en geeft aan dat de transitie toegepast moet worden op breedte van blokje*/
    content: ''; 
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: #c7c7ca;
    transition: width 0.5s ease;
    transform: translateX(-50%);    
}

nav a.menu:hover::after {
    /* Hover zorgt ervoor dat blokje (dus eigenlijk lijn) 100% breed wordt*/
    width: 100%;
}

#logout {
    font-size:24px;
    text-transform: uppercase;
    font-weight: 700;
    color:#cbcaca; /* c7c7ca */
    position: relative;
}


/* ------------- h1 -------------*/
body h1 {
    color: #ff9992;
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;
    text-transform: uppercase;    
}

.content {
    height: 60vh; /* Aanpassen indien nodig + kijken hoe knoppen beneden krijgen*/
}

.titel_box{
    text-align: left;
    padding: 1rem;
    color: black;
}


/* ------------- BUTTONS ------------- */

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn_bottom {
    background-color: #161538;
    border-style: solid;
    border-color: #c7c7ca;
    border-width: 1px;
    border-radius: 4em;
    padding: 1rem 2rem 1rem 2rem;
    color: #c7c7ca;
    font-weight: 400;
    margin: 1rem;
    margin-top: auto;  
    text-decoration: none;
    transition: transform 0.7s;
}

.btn_bottom:hover {
    transform: scale(1.1);
    color: #ff9992;
    border-color: #ff9992;
    border-width: 2.3px;
    font-weight: bold;
}

#btn_new {
    margin-left: 1rem;
    margin-right: auto;
}



.bg-custom.navbar {
    background-color: #161538;
    color:white;
}

.navbar-toggler {
    background-color: #ff9992;
}


/* ------------- Projectenoverzicht ------------- */


.factuur_container{
    background-color: lightgray;
    margin: 2rem;
    padding: 0;
    height: 50rem;
    justify-content: center;
    text-align: center;
    color: black;
}



