<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra kosten</title>
    <link rel="stylesheet" href="subpaginas_project.css">
</head>
<body>
    <nav id="top">
        <img id="logo" src="../../assests/images/logo_transparant.png" alt="Logo">
        <ul>
            <li><a href="uitgaven_project.html" class="menu">Uitgaven</a></li>
            <li><a href="#top" class="active menu">Extra kosten</a></li> 
            <li><a href="inkomsten_project.html" class="menu">Inkomsten</a></li>
            <li><a href="factuur_klant_project.html" class="menu">Factuur klant</a></li>
            <li><a href="facturen_leveranciers_project.html" class="menu">Facturen Leveranciers</a></li> 
        </ul>
    </nav>

    <div class="content">
        <h1>Extra Kosten</h1>

        <p>Extra Kosten</p>
    </div>

    <a href="home_project.html" id="btn_back">Back</a>
        
</body>
</html>